@font-face {
    font-family: 'HelveticaNeueLT Arabic 55 Roman';
    src: url('fonts/alfontcom--.eot');
    src: url('fonts/alfontcom--.eot?#iefix') format('embedded-opentype'), url('fonts/alfontcom--.woff2') format('woff2'), url('fonts/alfontcom--.woff') format('woff'), url('fonts/alfontcom--.ttf') format('truetype'), url('fonts/alfontcom--.svg#HelveticaNeueLT Arabic 55 Roman') format('svg');
}